body{
    width: 100%;
    background-image: url(https://preview.redd.it/heres-the-tears-of-the-kingdom-background-as-a-desktop-v0-76ir9l73a1ua1.png?width=1080&crop=smart&auto=webp&s=f321d1b9336b6f73d048ac0743190ee6ccddc6f8);
    backdrop-filter: opacity(50%);
}
header{
    width: 100%;
    display: flex;
    justify-self: center;
    align-self: center;
    width: 100%;
}
.header__nav {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-self: center;
    background-color: #111519;
    backdrop-filter: blur(10px);
}
.material-icons{
    font-size: 35px;
}
.SiteIcon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size:  2rem;
    font-style: normal;
}
#Icon{
   object-fit: fill;
    width: 5rem;
    height: 2.5rem;
    display: block;
    justify-self: flex-start;
}

.header__list {
    display: grid;
    width: 90%;
    align-self: center;
    justify-content: center;
    align-items: baseline;
    box-sizing: border-box;
    grid-template-columns: repeat(5,1fr);
   
}
.header__listItem {
    justify-content: center;
    list-style: none;
} 
.buttons_primary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    justify-content: center;
    height: auto;
    text-decoration: none;
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
}
.buttons_primary:hover{
    transform: scale(1.25);
    color: #004ccf;
}
.FilterAndSerach {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items:  center;
}

.ListaCategorias{
    align-self: flex-start;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;

}
.buttons__secondary{
    text-decoration: none;
    color: rgb(206, 211, 211);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.buttons__secondary:hover {
    color: rgb(202, 202, 57);
}
.Categoria{
    display: flex;
    border-radius: 1rem;
    background-color:  #111519;
    height: 2rem;
    width: 12%;
    padding: .5rem;
    align-items: center;
    justify-content: center;
    text-size-adjust: auto;
}
.Categoria:hover{
    transform: scale(1.08);
    filter: brightness(1.25);
}
.SearchBar {
    display: flex;
    align-items: center;
}
#Busqueda {
    height: 2.5rem;
    width: 25rem;
    background-color: #01060700;
    color: whitesmoke;
    font-size: 1.2rem;
}
.SearchBar.a {
    text-decoration: none;
}
#Lupa{
    text-decoration: none;
    font-size: 34px;
    color: whitesmoke;
}
#Lupa:hover{
    transform: scale(1.1);
}

.ContainerContenidos {
    display: grid;
    width: 95%;
    justify-self: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    box-sizing: border-box;
    grid-gap: 1rem;
    place-items: center;
}
.PosterContenidos {
    display: block;
    width:  40vh;
    border-radius: 1rem;
    height: 60vh;
    
}
.CardsContenidos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.CardsContenidos:hover {
    filter: brightness(1.2);
}
.CardInfo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    width: 90%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    background-blend-mode: difference;
    background-color: rgba(0, 0, 0, 0.897);
    border-radius: 1rem;
    text-size-adjust: none;
}